<%= form_for @book, html: {class: "pure-form"} do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title, id: @book.id, placeholder: @book.title, autofocus: true %>

    <%= f.submit "Submit", class: "pure-button" %>
  </div>
<% end %>
