<%= form_for @book do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, id: @book.id, placeholder: @book.title %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
