<table class="pure-table pure-table-striped">
  <thead>
    <th>Num.</th>
    <th>Title</th>
    <th>Due</th>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.number %></td>
        <td><%= book.title %></td>
        <td><%= book.due.strftime('%Y/%_m/%e %A') if book.due %></td>
      </tr>
    <% end %>
  </tbody>
</table>
