<div class="container">
  <div class="partial">
    <%= render 'list' %>
  </div>

  <%= icon('file') %> <%= link_to 'Download Books as CSV',
                                    books_path(format: :csv) %>
</div>
