<div class="container">
  <h2>Add a New Book</h2>

  <div class="partial">
    <%= render 'form' %>
  </div>

  <div class="partial">
    <%= paginate @books %>
  </div>

  <div class="partial">
    <%= render 'list' %>
  </div>
</div>
