<div class="container">
  <h1>New Book</h1>

  <div class="partial">
    <%= render 'form' %>
  </div>

  <div class="partial">
    <%= paginate @books %>
  </div>

  <div class="partial">
    <%= render 'list' %>
  </div>
</div>
