.debug {
  border: 1px solid red;
}

body {
  box-sizing: border-box;
  color: #444;
}

main {
  padding: 0 1rem;
}

header {
  display: flex;
  align-items: flex-end;
  padding: 0 1rem;
  border-bottom: 1px solid #ccc;
  background-color: rgba(237, 225, 65, 0.79);
  color: #000;
  margin-bottom: 1.5rem;
}


#logo {
  font-size: 175%;
  text-align: center;
  vertical-align: middle;
}

.nav {
  text-align: center;
}

.nav ul {
  margin: 0;
}

.nav-list li {
  display: inline-block;
  margin-right: 1.5rem;
}


.input {
  width: 8em;
}

.label {
  color: #777;
  font-weight: bold;
  font-size: 115%;
}

a {
  color: inherit;
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
  }

li {
  list-style-type: none;
  position: relative;
  right: 1em;
}



.form_partial {
  margin: 1rem 0;
}

.faded {
  font-size: .85em;
  color: #888;
}

.private {
  display: none;
}



.small-button {
  border-radius: .25rem;
  background-color: inherit;
  border: 1px solid #aaa;
  padding: .25rem 1rem;
}

.large-button {
  font-size: 1.5em;
  border-radius: .25rem;
  background-color: inherit;
  border: 1px solid #aaa;
  padding: .5rem 2rem;
}

.green {
  color: #0f7735;
}

.red {
  color: rgb(136, 36, 14);
}

.success, .notice, .error {
  padding: .5em;
  margin: .5rem 0;
  border-radius: .3rem;
  width: 24rem;
  text-align: center;
}
  .success {
    color: #007817;
    border: 1px solid #007817;
    background-color: rgba(181, 242, 180, 0.75);
  }

#checkout_container {
  width: 25rem;
  /*border: 1px solid red;*/
  margin: 0 auto;
}

  #checkout_container h2{
    margin-top: 0;
  }

#co_student_div {
  // width: 85%;
  // background-color: white;
  // margin: 1rem 0 1rem 0;
  min-height: 3rem;
  // border-radius: .25rem;
  // border: 1px solid #aaa;
  // padding: .25rem;
  // box-shadow: inset 0px 0px 5px 1px rgba(159,185,224,1);
}

#co_book_div {
  border-bottom: 1px solid #ccc;
  // width: 85%;
  // background-color: white;
  // margin: 1rem 0 1rem 0;
  min-height: 3rem;
  // border-radius: .25rem;
  // border: 1px solid #aaa;
  padding: .25rem 0;
  // box-shadow: inset 0px 0px 5px 1px rgba(159,185,224,1);
}

#co_console {
  width: 24rem;
  background-color: white;
  margin: 1rem 0 1rem 0;
  border-radius: .25rem;
  border: 1px solid #aaa;
  padding: .25rem;
}

#checkout_button {
  background-color: rgb(48, 162, 87);
  color: #fff;
  text-shadow: 1px 1px #1f6620;
}

#checkout_button_div {
  text-align: center;
}


/*************************************
Admin Page
*************************************/

#admin_list li {
  margin: .5em 0;
}

@media only screen and (min-width: 350px) {
  #logo {
    font-size: 200%;
  }
}

@media only screen and (min-width: 725px) {

  #logo, .nav {
    display: inline-block;
    /*width: 49%;*/
  }

  #logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }
    .nav li {
      position: relative;
      left: 1.5em;
    }

  .input {
    width: 11em;
  }

}
