.debug {
  border: 1px solid red;
}

body {
  box-sizing: border-box;
  color: #444;
}

main {
  padding: 0 .5rem;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.centered {
  margin: 0 auto;
}

.input {
  width: 8em;
}

.label {
  color: #777;
  font-weight: bold;
  font-size: 115%;
}

a {
  color: inherit;
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
  }

table a {
  text-decoration: underline;
}

li {
  list-style-type: none;
  position: relative;
  right: 1em;
}

.partial {
  margin: 1rem auto;
}

.form_div {
  margin: 1rem 0;
}

.container {
  with: 85%;
  max-width: 25rem;
  margin: 1rem auto;
}

.faded {
  font-size: .85em;
  color: #888;
}

.private {
  display: none;
}

.green {
  color: #0f7735;
}

.red {
  color: rgb(136, 36, 14);
}

.hidden {
  visibility: hidden;
}

/*******************************
Flash Messages
*******************************/

.success, .notice, .error {
  padding: .5em;
  margin: .5rem auto;
  border-radius: .3rem;
  max-width: 24rem;
  text-align: center;
}

.success {
  color: #007817;
  background-color: rgba(181, 242, 180, 0.75);
}

.error {
  color: #780000;
  background-color: rgba(242, 180, 180, 0.75);
}

.notice {
  color: #7e5c10;
  background-color: #fbfb72;
}

/*******************************************
layout header
********************************************/

header {
  display: flex;
  align-items: flex-end;
  padding: 0 1rem;
  border-bottom: 2px solid #fbfb72;
  background-color: #fbfb72;
  color: #000;
  margin-bottom: 1.5rem;
}


#logo {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  font-size: 175%;
  letter-spacing: -.5px;
  text-align: center;
  vertical-align: middle;
}

.nav {
  text-align: center;
}

.nav ul {
  margin: 0;
}

.nav-list li {
  display: inline-block;
  margin-right: 1.5rem;
}

/************************
buttons
*************************/

.small-button {
  border-radius: .25rem;
  background-color: inherit;
  border: 1px solid #aaa;
  padding: .25rem 1rem;
}

.large-button {
  font-size: 1.5em;
  border-radius: .25rem;
  background-color: inherit;
  border: 1px solid #aaa;
  padding: .5rem 2rem;
}

.list_button {
  background-color: inherit;
  border: 1px solid #aaa;
  border-radius: .25rem;
}

.next a{
  font-size: 90%;
  padding: .25em .5em;
  margin: 0 .25em;
  border: 1px solid #aaa;
  border-radius: .25rem;
}

.prev a{
  font-size: 90%;
  padding: .25em .5em;
  margin: 0 .25em;
  border: 1px solid #aaa;
  border-radius: .25rem;
}

/********************************
Checkout Page
********************************/

#checkout_container {
  max-width: 25rem;
  margin: 0 auto;
}

  #checkout_container h2{
    margin-top: 0;
  }

#co_student_div {
  min-height: 3rem;
}

#co_book_div {
  border-bottom: 1px solid #ccc;
  min-height: 3rem;
}

#co_console {
  max-width: 24rem;
  background-color: white;
  margin: 1rem 0 1rem 0;
  border-radius: .25rem;
  border: 1px solid #aaa;
  padding: .25rem;
}

#checkout_button {
  background-color: rgb(48, 162, 87);
  color: #fff;
  text-shadow: 1px 1px #1f6620;
  border: none;
}

#checkout_button_div {
  text-align: center;
}

/************************************
Check in Page
************************************/

#checkin_container {
  max-width: 25rem;
  margin: 0 auto;
}

#ci_form_div {
  /*visibility: hidden;*/
}

/*************************************
Admin Page
*************************************/

#admin_container {
  width: 85%;
  max-width: 25em;
  margin: 1rem auto;
}

#admin_list li {
  font-size: 120%;
  margin: .75em 0;
}


/***************************************
Media Queries
***************************************/

@media only screen and (min-width: 350px) {
  #logo {
    font-size: 200%;
  }
}

@media only screen and (min-width: 725px) {

  #logo, .nav {
    display: inline-block;
  }

  #logo {
    float: left;
  }

  .nav {
    float: right;
  }
    .nav li {
      position: relative;
      top: 1em;
      left: 1.5em;
    }

  .input {
    width: 11em;
  }

}
